@charset "UTF-8";
/* IMPORTS */
/*ESTILOS GENERALES*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

html {
  height: auto;
  width: 100%; }

body {
  /* font-family: $fuente-primaria;*/
  min-height: 100%;
  background-image: url("../assets/images/backgrounds/background--6.jpg");
  background-size: cover;
  background-attachment: fixed; }

/* MOVER DE LUGAR */
.circle--img {
  transition: 0.5s; }
  .circle--img:hover {
    transform: scale(1.1); }

.gh-ico {
  width: 2.5em; }

/* fin mover de lugar*/
/*FIN ESTILOS GENERALES*/
.logo--css {
  z-index: 1;
  margin: 0em;
  position: relative;
  width: 100%;
  padding-top: 100%;
  /* Relación de aspecto 1:1 */
  border-radius: 100%;
  background-color: #002200;
  overflow: hidden; }

.circulo1 {
  background-color: #113311;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  position: absolute;
  border-radius: 100%;
  transition: ease-in-out 1s; }

.circulo2 {
  background-color: #224422;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  position: absolute;
  border-radius: 100%;
  transition: ease-in-out 1s; }

.circulo3 {
  background-color: #335533;
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
  position: absolute;
  border-radius: 100%;
  transition: ease-in-out 1s; }

.circulo4 {
  background-color: #446644;
  width: 60%;
  height: 60%;
  left: 20%;
  top: 20%;
  position: absolute;
  border-radius: 100%;
  transition: ease-in-out 1s; }

.circulo5 {
  background-color: #557755;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  position: absolute;
  border-radius: 100%;
  transition: ease-in-out 1s; }

.circulo6 {
  background-color: #668866;
  width: 40%;
  height: 40%;
  left: 30%;
  top: 30%;
  position: absolute;
  border-radius: 100%;
  transition: ease-in-out 1s; }

.circulo7 {
  background-color: #779977;
  width: 30%;
  height: 30%;
  left: 35%;
  top: 35%;
  position: absolute;
  border-radius: 100%;
  transition: ease-in-out 1s; }

.circulo8 {
  background-color: #88aa88;
  width: 20%;
  height: 20%;
  left: 40%;
  top: 40%;
  position: absolute;
  border-radius: 100%;
  transition: ease-in-out 1s; }

.circulo9 {
  background-color: #99bb99;
  width: 10%;
  height: 10%;
  left: 45%;
  top: 45%;
  position: absolute;
  border-radius: 100%;
  transition: ease-in-out 1s; }

.circulo10 {
  background-color: black;
  width: 0%;
  height: 0%;
  left: 49.5%;
  top: 49.5%;
  position: absolute;
  border-radius: 100%;
  transition: ease-in-out 1s; }

.logo--css:hover div {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%; }

/*FIN LOGO*/
/* chat__whatsapp -------------------------------------*/
.whatsapp-ico {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 2rem;
  bottom: 2rem;
  transition: 0.2s; }
  .whatsapp-ico:hover {
    transform: scale(1.2); }

/* FIN chat__whatsapp -------------------------------------*/
/*--------------- VARIABLES ---------------*/
/* Colores */
/* Fuentes */
/*------------FIN VARIABLES-------------*/
/* ATRIBUCIONES DE LAS ANIMACIONES */
/* ----------------------------------------------
 * Generated by Animista on 2022-4-28 11:58:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/* FIN ATRIBUCIONES */
/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
.tracking-in-contract-bck {
  -webkit-animation: tracking-in-contract-bck 2s ease-in-out both;
  animation: tracking-in-contract-bck 2s ease-in-out both; }

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; } }

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
.slide-in-right {
  -webkit-animation: slide-in-right 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 4s both;
  animation: slide-in-right 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 4s both; }

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
.slide-in-left {
  -webkit-animation: slide-in-left 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.1s both;
  animation: slide-in-left 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.1s both; }

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.navegador {
  background-image: url(../assets/images/backgrounds/stone--2.webp);
  position: sticky;
  top: 0;
  z-index: 10; }

.nav-item:hover {
  text-shadow: #05e010 0px 0px 0.5em;
  color: #2fa825; }

/* TARJETA PRODUCTOS */
.producto__tarjeta {
  margin-top: 0.3em;
  background: linear-gradient(235deg, #292929 0%, #383838 47%, #4f4f4f 100%);
  width: 15em;
  height: 20em;
  width: 200px;
  border-radius: 12px;
  color: aliceblue;
  font-size: 0.8em;
  position: relative;
  transition: 0.3s;
  border: 0px;
  box-shadow: 0.4em 0.2em 1em #11111188; }
  .producto__tarjeta:hover {
    margin-top: 0;
    background: linear-gradient(235deg, #222222 0%, #333333 47%, #444444 100%);
    box-shadow: -0.4em -0.2em 1em #11111188; }
  .producto__tarjeta .producto__tarjeta--imagen img {
    width: 100%;
    border-radius: 12px 12px 0 0;
    opacity: 20%;
    transition: 0.3s; }
  .producto__tarjeta .producto__tarjeta--detalle {
    position: absolute;
    color: #fff;
    background-color: #111111ef;
    padding: 1em;
    width: 100%;
    bottom: 0;
    height: 50%;
    border-radius: 0 0 12px 12px;
    font-style: italic; }
    .producto__tarjeta .producto__tarjeta--detalle p:last-child {
      color: #00cc00; }
      .producto__tarjeta .producto__tarjeta--detalle p:last-child:active {
        color: red; }
      .producto__tarjeta .producto__tarjeta--detalle p:last-child:hover {
        font-weight: bold;
        color: #00cc00; }

.contenedor__tarjetas {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 11em 1.3em auto 10em;
  grid-template-areas: 'col1 col2 col3 col4 col5 col6 col7 col8 col9 col10 col11 col12'; }

.tarjeta--nombre {
  font-size: 1.2em;
  font-weight: bold;
  color: #aaa; }

.producto:hover .producto__tarjeta .producto__tarjeta--imagen img {
  opacity: 100%; }

/* FIN TARJETA PRODUCTOS */
/* BANNER */
.main__banner {
  background-image: url(/assets/images/backgrounds/background--2.png);
  background-size: cover;
  height: 100vh; }

/* HEADER */
.header--icono {
  width: 2em;
  height: 2em;
  color: #444;
  margin: 0.5em 1em 0.5em 1em;
  transition: 0.3s; }
  .header--icono:hover {
    transform: scale(1.5); }

.header--superior {
  display: flex;
  justify-content: center; }

.header--titulo {
  font-size: 3em;
  color: #2fa825;
  text-shadow: #05e010 0px 0px 0.2em; }
  .header--titulo .letra--1:hover, .header--titulo .letra--2:hover, .header--titulo .letra--3:hover, .header--titulo .letra--4:hover, .header--titulo .letra--5:hover, .header--titulo .letra--6:hover, .header--titulo .letra--7:hover, .header--titulo .letra--8:hover, .header--titulo .letra--9:hover {
    color: #13c913;
    text-shadow: #00ff0d 0px 0px 0.2em; }

.header--subtitulo {
  font-size: 1.5em;
  color: #2fa825;
  text-shadow: #05e010 0px 0px 0.2em; }

.header__columna--1 {
  align-self: center; }

.header__columna--2 {
  z-index: 20; }

/* MAIN */
.titulo--pagina {
  color: aliceblue; }

.main__columna--1 {
  min-height: 100vh; }

.proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem; }

.producto--imagen {
  width: 100%;
  height: auto; }

/* CARROUSEL */
.contenedor--carrousel {
  display: flex;
  justify-content: center;
  background-image: url(../assets/images/backgrounds/background--2.png);
  background-size: cover;
  padding: 1em; }

/* FIN CARROUSEL */
