/* IMPORTS */
@import 'base/reset';
@import 'components/logo';
@import 'components/whatsapp';
@import 'utilities/mixins';
@import 'utilities/variables';
@import 'components/animations';
@import 'components/navegador';
@import 'components/tarjeta';
@import 'components/banner';
@import 'components/carousel';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';


/* CARROUSEL */
.contenedor--carrousel{
    display: flex;
    justify-content: center;
    background-image: url(../assets/images/backgrounds/background--2.png);
    background-size: cover;
    padding: 1em;
}
/* FIN CARROUSEL */
