/* IMPORTS */
@import 'base/reset';
@import 'components/logo';
@import 'components/whatsapp';
@import 'utilities/mixins';
@import 'utilities/variables';
@import 'components/animations';
@import 'components/navegador';
@import 'components/tarjeta';
@import 'components/banner';
@import 'components/carousel';
@import 'components/offcanvas';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';
@import 'views/index';
@import 'views/noticias';
@import 'views/ver_carrito';
@import 'views/contacto';