/* MAIN */
.titulo--pagina{
    color: aliceblue;
}
.main__columna--1{
    background-image: url('assets/images/backgrounds/background--7.jpg');
    background-size: cover;
}
.proyectos{
    @include grid--responsive;
}
.producto--imagen{
    width: 100%;
    height: auto;
}