/* MAIN */
.titulo--pagina{
    text-shadow: rgb(5, 224, 16) 0px 0px 0.5em;
    color: antiquewhite;

}
.main__columna--1{
    min-height: 100vh;
}
.proyectos{
    @include grid--responsive;
    justify-items:center;
    padding: 0;
}
.producto--imagen{
    width: 100%;
    height: auto;
}