/* CAROUSEL */
.carousel-inner{
    border-radius: 1em;
}
.contenedor--carrousel{
    display: flex;
    justify-content: center;
    background-image: url('../assets/images/backgrounds/background--2.jpg');
    background-size: cover;
    padding: 1em;
}
/* FIN CAROUSEL */