/* TARJETA PRODUCTOS */
.producto__tarjeta{
    margin-top: 0.3em ;
    background: linear-gradient(235deg, rgba(41,41,41,1) 0%, rgba(56,56,56,1) 47%, rgba(79,79,79,1) 100%);   width: 15em;
    height: 20em;
    width: 200px;
    border-radius: 12px;
    color: aliceblue;
    font-size: map-get($map: $font-sizes, $key: s);
    position: relative;
    transition: 0.3s;
    border: 0px;
    box-shadow: 0.4em 0.2em 1em #11111188;
    &:hover{
        margin-top: 0;
        background: linear-gradient(235deg, rgba(34,34,34,1) 0%, rgba(51,51,51,1) 47%, rgba(68,68,68,1) 100%);
        box-shadow: -0.4em -0.2em 1em #11111188;}
    .producto__tarjeta--imagen img{
        width: 100%;
        border-radius: 12px 12px 0 0;
        opacity: 20%;
        transition: 0.3s;}
    .producto__tarjeta--detalle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        color: #fff;
        background-color: #111111ef;
        width: 100%;
        bottom: 0;
        height: 50%;
        border-radius: 0 0 12px 12px;
        font-style: italic;
        & p:last-child{
            color: #00cc00;
                &:active{
                    color: red;}
                &:hover{
                    font-weight: bold;
                    color: #00cc00;}}}
}
.contenedor__tarjetas{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 11em 1.3em auto 10em;
    grid-template-areas: 'col1 col2 col3 col4 col5 col6 col7 col8 col9 col10 col11 col12';
}
.tarjeta--nombre{
    font-size: map-get($map: $font-sizes, $key: l);
    font-weight:bold;
    color: #aaa;
}
.producto:hover .producto__tarjeta .producto__tarjeta--imagen img{
    opacity: 100%;
}
/* FIN TARJETA PRODUCTOS */