/* chat__whatsapp -------------------------------------*/
.whatsapp-ico {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 2rem;
    bottom: 2rem;
    transition: 0.2s;
    &:hover {
        transform: scale(1.2);}
}
/* FIN chat__whatsapp -------------------------------------*/
