/* CONTACTO -----------------------------------------*/

#formulario{
    margin: 2em 1em 2em 1em;
    background-color: red;
    width: 80%;
    min-width: 300px;
    font-size: 1em;
    //background-image: url('../assets/images/backgrounds/background--2.png');
    background-size: cover;
    background-color: #1118;
    border-radius: 0.5em;
}
.input1{
    height: 3em;
    background-color: #0000;
    border: none;
    border-bottom: solid green 2px;
    width: 80%;
    color: white;
    outline: none;
}
.input2{
    @extend .input1;
    min-height: 5em;
    background-color: #0002;
}
.flex--evenly{
    display: flex;
    justify-content: space-evenly;
}

.button2{
    @extend .button;
    width: 50%;
    min-width: 10em;
    background-color: #0003;
    border: none;
    border-radius: 0.1em;
}

.checkbox{
    margin-right: 0.6em;
}

/* FIN CONTACTO -------------------------------------*/