/* SECCION PRODUCTO.HTML */

.masvendidos{
    background-image: url('../assets/images/backgrounds/background--2.jpg');
    background-size: cover;
    min-height: auto;
}
 /* FIN SECCION PRODUCTO.HTML */