@import 'utilities/variables';
/*ESTILOS GENERALES*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.col-xs-0,
.col-sm-0,
.col-md-0,
.col-lg-0,
.col-xl-0,
.col-xxl-0{
    flex: 0 0 0;
    max-width: 0;
    padding-right: 0;
    padding-left: 0;
}
html {
    height: auto;
    width:100%;
}
body {
    min-height: 100%;
    background-image: url("../assets/images/backgrounds/background--6.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.brillant{
    text-shadow: $brillant!important;
    color: rgb(75, 238, 75);
}

.img--scaled{
    transition: 0.3s;
    &:hover{
        transform: scale(1.2);} 
}
/*FIN ESTILOS GENERALES*/